In [1]:
#Importing libreries

import pandas as pd 
import numpy as np

In [26]:
# Reading dataset
read_file = pd.read_excel ("Dataset\dataset.xlsx") 

# Converting to CSV
read_file.to_csv ("Dataset\dataset.csv", 
				index = None, 
				header=True) 
	
# reading CSV and converting to dataframe object
df = pd.DataFrame(pd.read_csv("Dataset\dataset.csv"))

In [27]:
# dataset preview
print(df.head())

        ID Gender PHI MHI FI LD SCI UE TI  APM
0  1711182      m   y   n  y  y   n  y  n    5
1  2312321      f   n   n  y  y   y  y  n    4
2  1510645      f   y   y  n  n   y  n  y    1
3  2311271      m   y   n  y  n   y  y  y    5
4  2211591      m   y   y  n  n   y  n  n    3

>Binary Encoding

In [28]:
# Converting 'y' to 1 and 'n' to 0 for selected columns
cols_to_encode = ['PHI', 'MHI', 'FI', 'LD', 'SCI', 'UE', 'TI']
df[cols_to_encode] = df[cols_to_encode].replace({'y': 1, 'n': 0})
print(df.head())

        ID Gender  PHI  MHI  FI  LD  SCI  UE  TI  APM
0  1711182      m    1    0   1   1    0   1   0    5
1  2312321      f    0    0   1   1    1   1   0    4
2  1510645      f    1    1   0   0    1   0   1    1
3  2311271      m    1    0   1   0    1   1   1    5
4  2211591      m    1    1   0   0    1   0   0    3

In [34]:
#Saving this Dataframe as Encoded Dataset
df.to_csv('Dataset/encoded_dataset.csv', index=False)

In [35]:
last_column = 'APM'
df[last_column].describe()

count    2500.000000
mean        3.165200
std         1.708765
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        13.000000
Name: APM, dtype: float64

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2500 non-null   int64
 1   Gender  2500 non-null   object
 2   PHI     2500 non-null   int64
 3   MHI     2500 non-null   int64
 4   FI      2500 non-null   int64
 5   LD      2500 non-null   int64
 6   SCI     2500 non-null   int64
 7   UE      2500 non-null   int64
 8   TI      2500 non-null   int64
 9   APM     2500 non-null   int64
dtypes: int64(9), object(1)
memory usage: 195.4+ KB
None

In [37]:
df.columns

Index(['ID', 'Gender', 'PHI', 'MHI', 'FI', 'LD', 'SCI', 'UE', 'TI', 'APM'], dtype='object')

In [38]:
# Checking for null values in each column
null_counts = df.isnull().sum()

# Displaying the count of null values for each column
print("Null value counts for each column:")
print(null_counts)

Null value counts for each column:
ID        0
Gender    0
PHI       0
MHI       0
FI        0
LD        0
SCI       0
UE        0
TI        0
APM       0
dtype: int64

No null values :)

In [39]:
# Checking for missing values in each column
missing_counts = df.isna().sum()

# Displaying the count of missing values for each column
print("Missing value counts for each column:")
print(missing_counts)

Missing value counts for each column:
ID        0
Gender    0
PHI       0
MHI       0
FI        0
LD        0
SCI       0
UE        0
TI        0
APM       0
dtype: int64

No missing values :)